.attendeeTitle {
    font-size: 300%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.attendeeDetails {
    vertical-align: middle;
    font-size: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.attendeeDate{
    padding: 20px;;
}

.attendeeTable{
    display: block;
    margin-left: 32%;
    margin-right: 30%;
    width: 30%;
}

.attendeeButtonWrap{
    margin: 10px;
    font-size: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: black;
    background-color: white;
    border: 5px solid rgb(111, 77, 179);
    border-radius: 15px;
}
.attendeeButtonWrap:hover{
    transform: scale(1.1);
    background-color: rgb(111, 77, 179); 
    border: 5px solid black; 
}

.attendeeDetailsButtonWrap{
    font-size: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: white;
    background-color: black;
    border: 5px solid rgb(111, 77, 179);
    border-radius: 15px;
}
.attendeeDetailsButtonWrap:hover{
    transform: scale(1.1);
    background-color: rgb(69,69,230); 
    border: 5px solid black; 
}

.attendeeActionButton{
    margin-top: 20px;
    text-align: center;
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.attendeeActionButton:hover{
    transform: scale(1.1);
    background-color: rgb(232, 232, 189);  
}

input{
    text-align: center;
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
.input:hover{
    background-color:  rgb(72, 72, 148);  
}

label{
    text-align: center;
    color: white;
    font-size: large;
    background-color: rgb(111, 77, 179) ;
    border: 3px solid black;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}


